.Wdate{
	border:#999 1px solid;
	height:20px;
    background-color: #fff;
    background-image: url(datePicker.gif);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}